$playD: 'Playfair Display', serif;
$ralew: 'Raleway', sans-serif;
$mullerL: 'MullerLight';
$mullerU: 'MullerUltraLight';
$mullerT: 'MullerThin';

$menuBg: #112537;
$black: #000;
$menuOrange: #f8a25a;
$menuBgColor: rgba(24,44,61,0.9);
$headerNum: #5f5e5c;
$dotsSilver: #cdd3cf;
$features: #fde3c9;
$featSilver: #838383;
$formText: #bec2c5;
$sliderBg: #fdfaf3;
$sliderText: #898989;
$accordionBg: #182c3d;